<footer class="footer bg-light py-3 mt-auto">
    <div class="container">
        <span class="text-dark">&copy; NFT Sorter 2022</span>
        <div class="footer-float">
            <a href='/terms-of-service' class='text-decoration-none text-dark' target="_blank">Terms of Service</a> |
            <a href='/privacy-policy' class='text-decoration-none text-dark' target="_blank">Privacy Policy</a> |
            <a href='/contact' class='text-decoration-none text-dark' target="_blank">Contact Us</a>
        </div>
    </div>
</footer>