<nav class="navbar navbar-expand-lg navbar-light px-3">
    <div class="container-fluid">
        <a class="navbar-brand" style="font-size: x-large" href="/">NFT Sorter</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a href="/" class="nav-link">Home</a>
                <a href="/donate" class="nav-link" target="_blank">Support</a>
                <a href="https://twitter.com/DuckDDev" class="nav-link" target="_blank">Twitter</a>
                <a href="https://discord.gg/yhb4A5vz9v" class="nav-link" target="_blank">Discord</a>

            </div>
        </div>
    </div>
</nav>
<hr class="bg-dark border-3 border-top border-dark">