<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/crypto.css" type="text/css">
    <h1 class="text-center mb-4">Support NFT Sorter:</h1>
    <div>
        <p style="font-size:1.1rem">Hi! My name is Kyle, I'm the sole developer of NFT Sorter. Unlike most trading
            tools, NFT Sorter is a completely free application, as of present. </p>
        <br>
        <p style="font-size:1.1rem" class="mb-3">
            As NFT Sorter has grown, databasing and hosting costs have increased. I'm currently paying these costs out
            of
            pocket. I would love to continue hosting NFT Sorter and working on new features, but as a student, that's
            very
            difficult.

            Any support would be much appreciated. Your donations keep NFT Sorter running.
        </p>
        <div>
            <!-- http://www.vanitygen.net/crypto_donation_boxes.php use inspect go to sources static cryptocoin-donation-boxes.css-->
            <!-- https://codepen.io/bennettfeely/pen/WXWKGW -->
            <label class="btc donate-crypto-box">
                <div class="coin">
                    <div class="coin-face">
                        <svg height="10" viewBox="0 0 32 32" width="10" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M21.78 15.37c.51-.61.83-1.4.83-2.26 0-2.74-1.6-4.38-4.24-4.38V5.45c0-.12-.1-.22-.22-.22h-1.27c-.11 0-.2.1-.2.21v3.3h-1.7V5.44c0-.12-.1-.22-.22-.22H13.5c-.12 0-.2.1-.21.21v3.3H9.67c-.12 0-.21.09-.21.21v1.31c0 .12.1.22.21.22h.21c.94 0 1.7.79 1.7 1.75v7c0 .92-.68 1.67-1.55 1.75a.21.21 0 0 0-.18.16l-.33 1.32c-.01.06 0 .13.04.19.04.05.1.08.17.08h3.55v3.3c0 .1.1.2.2.2h1.28c.12 0 .21-.1.21-.22v-3.28h1.7v3.3c0 .1.1.2.21.2h1.27c.12 0 .22-.1.22-.22v-3.28h.85c2.65 0 4.24-1.64 4.24-4.37 0-1.28-.68-2.39-1.68-3zm-6.8-4.01h2.54c.94 0 1.7.78 1.7 1.75 0 .96-.76 1.75-1.7 1.75h-2.55v-3.5zm3.39 8.75h-3.4v-3.5h3.4c.93 0 1.7.78 1.7 1.75 0 .96-.77 1.75-1.7 1.75z"
                                fill="#FFF"></path>
                        </svg>
                    </div>
                    <div class="coin-face"></div>
                    <div class="coin-face"></div>
                    <div class="coin-face"></div>
                    <div class="coin-face">
                        <svg height="10" viewBox="0 0 32 32" width="10" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M21.78 15.37c.51-.61.83-1.4.83-2.26 0-2.74-1.6-4.38-4.24-4.38V5.45c0-.12-.1-.22-.22-.22h-1.27c-.11 0-.2.1-.2.21v3.3h-1.7V5.44c0-.12-.1-.22-.22-.22H13.5c-.12 0-.2.1-.21.21v3.3H9.67c-.12 0-.21.09-.21.21v1.31c0 .12.1.22.21.22h.21c.94 0 1.7.79 1.7 1.75v7c0 .92-.68 1.67-1.55 1.75a.21.21 0 0 0-.18.16l-.33 1.32c-.01.06 0 .13.04.19.04.05.1.08.17.08h3.55v3.3c0 .1.1.2.2.2h1.28c.12 0 .21-.1.21-.22v-3.28h1.7v3.3c0 .1.1.2.21.2h1.27c.12 0 .22-.1.22-.22v-3.28h.85c2.65 0 4.24-1.64 4.24-4.37 0-1.28-.68-2.39-1.68-3zm-6.8-4.01h2.54c.94 0 1.7.78 1.7 1.75 0 .96-.76 1.75-1.7 1.75h-2.55v-3.5zm3.39 8.75h-3.4v-3.5h3.4c.93 0 1.7.78 1.7 1.75 0 .96-.77 1.75-1.7 1.75z"
                                fill="#FFF"></path>
                        </svg>
                    </div>
                </div>
                <input class="coin-address" onclick="this.select()" readonly="readonly" spellcheck="false" type="text"
                    value="bc1q846tup6vf9r970y6wa5rryaxyazk5z2pqf3qwc" />
            </label><label class="eth donate-crypto-box">
                <div class="coin">
                    <div class="coin-face">
                        <svg height="10" viewBox="0 0 32 32" width="10" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.13 17.76c-.1-.15-.06-.2.09-.12l5.49 3.09c.15.08.4.08.56 0l5.58-3.08c.16-.08.2-.03.1.11L16.2 25.9c-.1.15-.28.15-.38 0l-5.7-8.13zm.04-2.03a.3.3 0 0 1-.13-.42l5.74-9.2c.1-.15.25-.15.34 0l5.77 9.19c.1.14.05.33-.12.41l-5.5 2.78a.73.73 0 0 1-.6 0l-5.5-2.76z"
                                fill="#FFF"></path>
                        </svg>
                    </div>
                    <div class="coin-face"></div>
                    <div class="coin-face"></div>
                    <div class="coin-face"></div>
                    <div class="coin-face">
                        <svg height="8" viewBox="0 0 32 32" width="8" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.13 17.76c-.1-.15-.06-.2.09-.12l5.49 3.09c.15.08.4.08.56 0l5.58-3.08c.16-.08.2-.03.1.11L16.2 25.9c-.1.15-.28.15-.38 0l-5.7-8.13zm.04-2.03a.3.3 0 0 1-.13-.42l5.74-9.2c.1-.15.25-.15.34 0l5.77 9.19c.1.14.05.33-.12.41l-5.5 2.78a.73.73 0 0 1-.6 0l-5.5-2.76z"
                                fill="#fff"></path>
                        </svg>
                    </div>
                </div>
                <input class="coin-address" onclick="this.select()" readonly="readonly" spellcheck="false" type="text"
                    value="0x05F4c6851033d6101546DF85381951aCc3C0f0b4" />
            </label>
        </div>

        <form action="https://www.paypal.com/donate" method="post" target="_top" class="text-center">
            <input type="hidden" name="business" value="M427YU887AAYC" />
            <input type="hidden" name="no_recurring" value="0" />
            <input type="hidden" name="item_name" value="Thank you for supporting NFT Sorter and my work!" />
            <input type="hidden" name="currency_code" value="USD" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0"
                name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
        <br>
        <p style="font-size:1.1rem">If donating isn't possible for you, please consider supporting me by following me
            on <a href="https://twitter.com/DuckDDev" target="_blank">Twitter</a>. Thank you!!
        </p>
    </div>