<% layout('layouts/boilerplate')%>
    <div class="my-auto">
        <h1 class="text-center mb-4 font-weight-light">Error: Page Not Found</h1>
        <img src="/images/404_error.png" alt="" class="img-fluid mx-auto d-block">
        <p class="text-center">Sorry, the page you're looking for cannot be accessed.</p>
        <p class="text-center">Please <a href="/contact">report this issue
            </a> or return <a href="/">home
            </a>.</p>
    </div>